In [22]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_theme()

from sklearn.model_selection import train_test_split

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn import tree
from sklearn.ensemble import RandomForestRegressor


from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

from sklearn import linear_model

random_param_test = 3
random_param_cv = 13

from sklearn.metrics import mean_absolute_error

In [23]:
df_full = pd.read_csv('student-por.csv', sep = ';')

display(df_full.head())

print("Shape is", df_full.shape )

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

Shape is (649, 33)

In [24]:
# Drop columns 'G1' and 'G2'. These are test scores from other periods. 
# The school requests a model that does not use these test scores to predict the 'G3' exam score.

df_full = df_full.drop(['G1','G2'], axis=1)

print("Shape is", df_full.shape )

Shape is (649, 31)

In [26]:
## Feature engineering: 
# We consider any category that contains less than 5% of students a rare categories.
# We will now find the rare categories and bin the data to remove any rare categories.


for col in df_full.columns:
    print(col)
    print(df_full[col].value_counts()/649*100)
    print(' ')    
    print(' ')

school
GP    65.177196
MS    34.822804
Name: school, dtype: float64


sex
F    59.013867
M    40.986133
Name: sex, dtype: float64


age
17    27.580894
16    27.272727
18    21.571649
15    17.257319
19     4.930663
20     0.924499
21     0.308166
22     0.154083
Name: age, dtype: float64


address
U    69.645609
R    30.354391
Name: address, dtype: float64


famsize
GT3    70.416025
LE3    29.583975
Name: famsize, dtype: float64


Pstatus
T    87.673344
A    12.326656
Name: Pstatus, dtype: float64


Medu
2    28.659476
4    26.964561
1    22.033898
3    21.417565
0     0.924499
Name: Medu, dtype: float64


Fedu
2    32.203390
1    26.810478
3    20.184900
4    19.722650
0     1.078582
Name: Fedu, dtype: float64


Mjob
other       39.753467
services    20.955316
at_home     20.801233
teacher     11.093991
health       7.395994
Name: Mjob, dtype: float64


Fjob
other       56.548536
services    27.889060
at_home      6.471495
teacher      5.546995
health       3.543914
Name: Fjob, dtype: float64


reason
course        43.913713
home          22.958398
reputation    22.033898
other         11.093991
Name: reason, dtype: float64


guardian
mother    70.107858
father    23.574730
other      6.317411
Name: guardian, dtype: float64


traveltime
1    56.394453
2    32.819723
3     8.320493
4     2.465331
Name: traveltime, dtype: float64


studytime
2    46.995378
1    32.665639
3    14.946071
4     5.392912
Name: studytime, dtype: float64


failures
0    84.591680
1    10.785824
2     2.465331
3     2.157165
Name: failures, dtype: float64


schoolsup
no     89.522342
yes    10.477658
Name: schoolsup, dtype: float64


famsup
yes    61.325116
no     38.674884
Name: famsup, dtype: float64


paid
no     93.990755
yes     6.009245
Name: paid, dtype: float64


activities
no     51.46379
yes    48.53621
Name: activities, dtype: float64


nursery
yes    80.27735
no     19.72265
Name: nursery, dtype: float64


higher
yes    89.368259
no     10.631741
Name: higher, dtype: float64


internet
yes    76.733436
no     23.266564
Name: internet, dtype: float64


romantic
no     63.174114
yes    36.825886
Name: romantic, dtype: float64


famrel
4    48.844376
5    27.734977
3    15.562404
2     4.468413
1     3.389831
Name: famrel, dtype: float64


freetime
3    38.674884
4    27.426810
2    16.486903
5    10.477658
1     6.933744
Name: freetime, dtype: float64


goout
3    31.587057
2    22.342065
4    21.725732
5    16.949153
1     7.395994
Name: goout, dtype: float64


Dalc
1    69.491525
2    18.644068
3     6.625578
5     2.619414
4     2.619414
Name: Dalc, dtype: float64


Walc
1    38.058552
2    23.112481
3    18.489985
4    13.405239
5     6.933744
Name: Walc, dtype: float64


health
5    38.366718
3    19.106317
4    16.640986
1    13.867488
2    12.018490
Name: health, dtype: float64


absences
0     37.596302
2     16.949153
4     14.329738
6      7.550077
8      6.471495
10     3.235747
1      1.848998
12     1.848998
5      1.848998
16     1.540832
14     1.232666
9      1.078582
3      1.078582
11     0.770416
18     0.462250
7      0.462250
21     0.308166
15     0.308166
22     0.308166
30     0.154083
26     0.154083
24     0.154083
13     0.154083
32     0.154083
Name: absences, dtype: float64


G3
11    16.024653
10    14.946071
13    12.634823
12    11.093991
14     9.707242
15     7.550077
16     5.546995
9      5.392912
8      5.392912
17     4.468413
18     2.311248
0      2.311248
7      1.540832
6      0.462250
19     0.308166
1      0.154083
5      0.154083
Name: G3, dtype: float64